/*Mobile and Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
body {
    font-family: 'Exo', sans-serif;
}
header {
    height: 70vh;
    background-image: url(images/banner2.gif);
    background-repeat: no-repeat;
    background-size: 200%;
    background-attachment:fixed;
    background-position: center center;
}
nav {
    position: sticky;
    background-color: white;
    padding-bottom: 1%;
}
nav a {
    color: #33CCCC;
    font-size: 1.3em;
    font-weight:600;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
nav a:hover {
    color: #FFCC33;
}
nav img {
    width: 200px;
    padding-bottom: 5px;
}
#bottomnav {
    position: sticky;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 10%;
}
#bottomnav a {
    color: white;
    font-size: 0.9em;
    font-weight:600;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
#bottomnav a:hover {
    color: #FFCC33;
}
#container {
    margin: 0 auto;
}
a.images img {
    width: 100%;
}
a.images {
    opacity: 1;
    width: 25%;
}
a.images:hover span {
    opacity: 1;
    display: block;
}
img.over {
    display: none;
}
a.images:hover img.out {
    display: none;
}
a.images:hover img.over {
    display: block;
}
h3 {
    font-size: 2em;
    padding-left: 5%;
    padding-bottom: 5px;
    padding-top: 50px;
}
h4 {
    padding-top: 100px;
    padding-left: 5%;
    font-size: 2em;
    color: white;
}
h5 {
    padding-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}
h5 a{
    font-weight: 400; 
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    background-color: #33CCCC; 
}
h5 a:hover {
   color: #FFCC33; 
}
#Help p, #Screening p {
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 5%;
}
table {
    width: 100%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-right: 5%;
    font-size: 0.7em;
    line-height: 1.7em;
}
th {
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 5px;
}
td a{
    color: #33CCCC;
    text-decoration:none;
}
td a:hover{
    color: #FFCC33;
}
footer {
    background-color: #33CCCC;
    margin-top: 5%;
}
footer p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.75em;
    line-height: 1.5em;
    padding-top: 10px;
}
form {
    text-align: left;
    display: flex;
    flex-direction:column;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 25%;
    width: 100%;
    line-height: 2em;
    font-size: 1em;
}
input[type=submit] {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
    font-family: 'Exo', sans-serif;
}
input[type=submit]:hover {
    background-color: #FFCC33;
}
input, textarea {
    background-color: whitesmoke;
    font-size: 1.1em;
    padding: 5px;
}
#end {
    padding-top: 1%;
   font-size: 0.8em;
   text-align: center;
}

/*Destop Style*/

@media only screen and (min-width: 481px){
header {
    height: 75vh;
    background-image: url(images/banner2.jpg);
    background-size: cover;
}
header:hover {
    background-image: url(images/banner2.gif);
}
nav {
    color: white;
    opacity: 0.9;
    padding-bottom: 0%;
    }
nav a {
    font-size: 1.2em;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#container {
    display: flex;
    width: 100%;
    flex-direction: row;
    
}
h3 {
    font-size: 3em;
    padding-left: 15%;
    padding-bottom: 10px;
}
h4 {
    font-size: 2.5em;
    padding-left: 29.5%;
}
#Help p, #Screening p {
    padding-left: 20%;
    padding-right: 20%;
}
table {
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 20%;
    font-size: 0.9em;
    line-height: 2em;
}  
th {
    font-size: 1.3em;
}
footer p{
    padding-left: 30%;
    padding-right: 30%;
} 
form {
    line-height: 3em;
    font-size: 1.2em;
    padding-left: 40%;
    padding-right: 40%;
}
#bottomnav a {
    font-size: 1.2em;
}
#bottomnav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding: 5px;
    padding-bottom: 5px;
}
#end {
    padding-top: 1%;
   font-size: 0.8em;
   text-align: center;
}
    
}

